@using CSAContestWeb.Models
@addTagHelper *, AuthoringTagHelpers
@model List<DocumentModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Index: Azure Search</h1>
    </div>
</div>
 


<div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <a asp-action="Add" class="btn btn-sm btn-primary w-100">
                                <i class="fa-solid fa-plus"></i> Create</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary  w-100">Back</a>
                    </div>
            </div>
<br/>
<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th>DateInvoice</th>
                        <th>ReceiverBy</th>
                        <th>BirdFindLocation</th>
                        <th>DonorName</th>
                        <th>DonorAddress</th>
                        <th>DonorApt</th>
                        <th>DonorCity</th>
                        <th>DonorPostal</th>
                        <th>DonorTel</th>
                        <th>DonorEmail</th>
                        <th>SumGifted</th>
                        <th>TaxReceipt</th>
                        <th>GiftConsideration</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model)
                    {
                        <tr>
                            <td>@doc.DateInvoice</td>
                            <td>@doc.ReceiverBy</td>
                            <td>@doc.BirdFindLocation</td>
                            <td>@doc.DonorName</td>
                            <td>@doc.DonorAddress</td>
                            <td>@doc.DonorApt</td>
                            <td>@doc.DonorCity</td>
                            <td>@doc.DonorPostal</td>
                            <td>@doc.DonorTel</td>
                            <td>@doc.DonorEmail</td>
                            <td>@doc.SumGifted</td>
                            <td>@doc.TaxReceipt</td>
                            <td>@doc.GiftConsideration</td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@doc.StoragePath">
                                    <div class="btn-group btn-group-sm">
                                        <a asp-action="Update" asp-route-id="@doc.StoragePath" class="btn btn-warning">
                                            <i class="fas fa-edit"></i> </a> 
                                        <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Are you sure to delete this record?')">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    </div>
                                 </form>
                             </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
